@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/proximanova-regular.woff2') format('woff2'),
         url('../../../public/fonts/proximanova-regular.woff') format('woff'),
         url('../../../public/fonts/proximanova-regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/proximanova-medium.woff2') format('woff2'),
         url('../../../public/fonts/proximanova-medium.woff') format('woff'),
         url('../../../public/fonts/proximanova-medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/proximanova-semibold.woff2') format('woff2'),
         url('../../../public/fonts/proximanova-semibold.woff') format('woff'),
         url('../../../public/fonts/proximanova-semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
  
@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/proximanova-bold.woff2') format('woff2'),
         url('../../../public/fonts/proximanova-bold.woff') format('woff'),
         url('../../../public/fonts/proximanova-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/proximanova-black.woff2') format('woff2'),
         url('../../../public/fonts/proximanova-black.woff') format('woff'),
         url('../../../public/fonts/proximanova-black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
