// Primary Font
@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/Proxima Nova Regular.woff2') format('woff2'),
         url('../../../public/fonts/Proxima Nova Regular.woff') format('woff'),
         url('../../../public/fonts/Proxima Nova Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

// @font-face {
//     font-family: 'ProximaNova';
//     src: url('../../../public/fonts/Teko-Medium.woff2') format('woff2'),
//          url('../../../public/fonts/Teko-Medium.woff') format('woff'),
//          url('../../../public/fonts/Teko-Medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/Proxima Nova Semibold.woff2') format('woff2'),
         url('../../../public/fonts/Proxima Nova Semibold.woff') format('woff'),
         url('../../../public/fonts/Proxima Nova Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
  
@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/Proxima Nova Extrabold.woff2') format('woff2'),
         url('../../../public/fonts/Proxima Nova Extrabold.woff') format('woff'),
         url('../../../public/fonts/Proxima Nova Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
  
@font-face {
    font-family: 'ProximaNova';
    src: url('../../../public/fonts/Proxima Nova Light.woff2') format('woff2'),
         url('../../../public/fonts/Proxima Nova Light.woff') format('woff'),
         url('../../../public/fonts/Proxima Nova Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

// Secondary Font
@font-face {
    font-family: 'Teko';
    src: url('../../../public/fonts/Teko-Regular.woff2') format('woff2'),
         url('../../../public/fonts/Teko-Regular.woff') format('woff'),
         url('../../../public/fonts/Teko-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Teko';
    src: url('../../../public/fonts/Teko-Medium.woff2') format('woff2'),
         url('../../../public/fonts/Teko-Medium.woff') format('woff'),
         url('../../../public/fonts/Teko-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Teko';
    src: url('../../../public/fonts/Teko-SemiBold.woff2') format('woff2'),
         url('../../../public/fonts/Teko-SemiBold.woff') format('woff'),
         url('../../../public/fonts/Teko-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
  
@font-face {
    font-family: 'Teko';
    src: url('../../../public/fonts/Teko-Bold.woff2') format('woff2'),
         url('../../../public/fonts/Teko-Bold.woff') format('woff'),
         url('../../../public/fonts/Teko-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
  
@font-face {
    font-family: 'Teko';
    src: url('../../../public/fonts/Teko-Light.woff2') format('woff2'),
         url('../../../public/fonts/Teko-Light.woff') format('woff'),
         url('../../../public/fonts/Teko-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
