* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-weight: $fw-normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  overflow-x: hidden;
}

.primary-heading {
  text-align: center;
  font-size: rem(30px);
  color: #000000;
  font-weight: $fw-extra-bold;
  font-style: italic;
  text-transform: uppercase;
  @include mq(large) {
    font-size: rem(40px);
  }
}