.dashboard {
    padding: rem(50px) 0;
    // @include mq(large) {
    //     padding: rem(100px);
    // }

    &__content {
        max-width: rem(1100px);
        width: 100%;
        margin: auto;
    }

    &__greetings {
        @include mq(large) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__greeting-text {
        text-align: center;
        font-size: rem(18px);
        @include mq(large) {
            font-size: rem(26px);
            text-align: left;
        }
    }

    &__button-wrap {
        margin-top: rem(10px);
        display: flex;
        justify-content: center;
        @include mq(large) {
            margin-top: 0;
            display: block;
        }
    }

    &__profile {
        margin-top: rem(50px);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        padding: rem(40px) rem(20px);
        border-radius: rem(10px);
        margin-bottom: rem(25px);
        @include mq(large) {
            margin-bottom: rem(50px);
            padding: rem(40px);
        }
    }

    &__profile-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__profile-title {
        font-size: rem(18px);
        font-weight: bold;
        @include mq(large) {
            font-size: rem(20px);
        }
    }

    &__profile-role {
        font-size: rem(16px);
    }

    &__profile-info-wrap {
        margin-top: rem(20px);
    }

    &__profile-label {
        font-size: rem(16px);
        margin-bottom: rem(10px);
        @include mq(large) {
            font-size: rem(18px);
        }
    }

    &__profile-input {
        font-size: rem(18px);
        @include mq(large) {
            font-size: rem(20px);
        }
    }

    &__booking {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        padding: rem(40px) rem(20px);
        border-radius: rem(10px);
        overflow: hidden;
        max-height: rem(500px);
        overflow-y: scroll;
        @include mq(large) {
            padding: rem(40px);
        }
    }

    &__booking-scroll {
        overflow-x: scroll;
    }

    &__booking-title {
        font-size: rem(18px);
        font-weight: bold;
        @include mq(large) {
            font-size: rem(20px);
        }
    }

    &__booking-info-wrap {
        margin-top: rem(20px);
    }

    &__booking-list {
        margin-top: rem(20px);

        tr {
            border: 1px solid #aaa;
        }

        th, td {
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: rem(5px) rem(20px);
            border-bottom: 1px solid #aaa;
            border-right: 1px solid #aaa;

            &:last-child {
                border-right: none;
            }
        }
    }

    &__booking-list-item {
        margin-top: rem(20px);
    }

    &__booking-label {
        font-size: rem(16px);
        margin-top: rem(20px);
        @include mq(large) {
            font-size: rem(18px);
        }
    }

    &__booking-input {
        font-size: rem(18px);
        @include mq(large) {
            font-size: rem(20px);
        }
    }

    &__booking-button-wrap {
        margin-top: rem(20px);
        display: flex;
        align-items: center;
        gap: rem(20px);
    }

    &__tabs {
        margin-top: rem(25px);
        display: flex;
        align-items: center;
        gap: rem(10px);
        margin-bottom: rem(10px);
        @include mq(large) {
            margin-top: rem(50px);
        }

        .active {
            display: table;
            padding: rem(10px) rem(40px);
            background: #0059A9;
            color: #ffffff;
            border-radius: rem(5px);
            text-transform: uppercase;
            font-size: rem(14px);
            border: 1px solid #0059A9;
            transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }

    &__tab-content {
        margin-top: rem(25px);

        .react-tabs__tab-list {
            list-style: none !important; 
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: rem(20px);
        margin-bottom: rem(10px);

        input {
            padding: rem(5px) rem(20px);
            border-radius: rem(5px);
            border: 1px solid #aaa;
        }
    }

    &__slot-table-wrap {
        overflow-x: scroll;

        th {
            padding: rem(5px);
        }

        td {
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        input {
            padding: rem(5px);
        }

        select {
            padding: rem(5px);

            &:hover {
                cursor: pointer;
            }
        }

        option {
            &:hover {
                cursor: pointer;
            }
        }

        button {
            padding: rem(2px) rem(20px);
            background: #007200;
            border: none;
            border-radius: rem(2px);

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__user-table-wrap {
        overflow-x: scroll;
        @include mq(1115px) {
            overflow-x: hidden;
        }

        td {
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 rem(20px);
        }

        select {
            padding: rem(5px);

            &:hover {
                cursor: pointer;
            }
        }

        option {
            &:hover {
                cursor: pointer;
            }
        }

        button {
            padding: rem(2px) rem(20px);
            background: #C41D25;
            border: none;
            border-radius: rem(2px);

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__loading {
        margin-top: rem(25px);
    }
}