.header {
    background:#0059A9;
    padding: rem(10px) 0;
    // top: 0;
    // left: 0;
    // width: 100%;
    // z-index: 999;
    // transition: background-color 0.3s ease;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-wrap {
        max-width: rem(75px);
        width: 100%;
        @include mq(large) {
            max-width: rem(120px);
        }
    }

    &__logo {
        width: 100%;
        height: 100%;
    }

    &__nav-wrap {
        display: none;
        @include mq(large) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: rem(20px);
        }
    }

    &__nav-item {
        font-size: rem(14px);
        font-weight: $fw-bold;
        color: #ffffff;
        text-transform: uppercase;
        padding: rem(39px) rem(10px);

        &:hover {
            color: #EE1B24;
            cursor: pointer;
        }
    }
}

.header.scrolled {
  background-color: rgba(#000000, 0.70);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 30px rgba(227, 228, 237, 0.37);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}